[Unit]
Description=Service for running Tibia Otserver
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
ExecStart=docker-compose -f /root/otserver/docker-compose.yml up -d
ExecStop=docker-compose -f /root/otserver/docker-compose.yml stop
StandardOutput=syslog
StandardError=syslog
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target